@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes popupword {
    100% {
        transform: translateZ(0);
        opacity: 1;
    }
}

::selection {
    color: #000000;
    background: #f1cbeb;
}

::-moz-selection {
    color: #000000;
    background: #f1cbeb;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #c2c2c2;
}

::-webkit-scrollbar-thumb:hover {
    cursor: n-resize;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 150px
}

input[type='text'] {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

.rdrCalendarWrapper  {
    font-size: 0.95rem !important;
}

.rdrDateDisplayWrapper {
    border-radius: 0.375rem 0.375rem 0 0;
}

.rdrMonth {
    width: 100% !important;
}

.rdrDay {
    height: 5em !important;
}

@media (width <= 500px) {
    .rdrDay {
        height: 4em !important;
    }
}